.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  body {
    background-color: #eaff00a7;
  }
  
  h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #7700ff;
  }
  
  p {
    font-size: 2rem;
    color: #1100ff;
    font-family: "Indie Flower", cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: "Indie Flower", cursive;
  }
  